%table.table
  %thead
    %tr
      %th{:scope => "col"} Title
      %th{:scope => "col"} Description
      %th{:scope => "col"} Status
      %th{:scope => "col"} priority
      %th{:scope => "col"} Updated

  %tbody
    - @tasks_versions.reverse.each do |version|
      %tr
        %td
          = "Old version: #{version.reify(dup: true).title}"
          %br
          = "New version: #{field_update(version.reify(dup: true).title, version.item.title)}"
        %td
          = "Old version: #{version.reify(dup: true).description}"
          %br
          = "New version: #{field_update(version.reify(dup: true).description, version.item.description)}"
        %td
          = "Old version: #{List.list_name(version.reify(dup: true)&.list_id)}"
          %br
          = "New version: #{field_update(List.list_name(version.reify(dup: true)&.list_id), List.list_name(version.item&.list_id))}"
        %td
          = "Old version: #{version.reify(dup: true).priority}"
          %br
          = "New version: #{field_update(version.reify(dup: true).priority, version.item.priority)}"
        %td= local_time(version.reify.updated_at, format: '%B %e, %Y %l:%M%P')
